@font-face {
    font-family: "Destiny Symbols Common";
    src: url(fonts/destiny_symbols_common.otf);
}

@font-face {
    font-family: "Destiny Symbols PC";
    src: url(fonts/destiny_symbols_pc.otf);
}

@font-face {
    font-family: "Destiny Symbols PS4";
    src: url(fonts/destiny_symbols_ps4.otf);
}

:root {
    font-size: 16px;
}

body {
    margin: 0.25rem;
    background-color: rgb(18, 23, 28);
    text-transform: uppercase;
    font-family: sans-serif, "Destiny Symbols Common", "Destiny Symbols PC", "Destiny Symbols";
}

header {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;
    margin: 1.5rem auto;
    border-radius: 0.25rem;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .25);
    background-color: rgba(245, 245, 245, 0.2);
    padding: 1rem;
    max-width: 50rem;
    text-align: center;
}

header h1 {
    margin-block: 0rem 0.5rem;
    margin-inline: 0rem;
    color: rgb(245, 245, 245);
    font-size: 2rem;
}

header a {
    text-transform: none;
    text-decoration: none;
    color: rgba(245, 245, 245, 0.2);
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: center;
    background: linear-gradient(rgba(18, 23, 28, 1) 50%, rgba(18, 23, 28, 0) 100%);
    padding-bottom: 1rem;
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: min-content;
    justify-items: stretch;
    width: 100%;
}

section::before {
    display: block;
    width: 100%;
    text-align: center;
    color: rgba(245, 245, 245, 0.5);
    font-size: 0.7rem;
    font-weight: 700;
    content: attr(group-name);
}

section {
    margin: 0.1rem;
    border: 2px solid #41403d80;
    border-radius: 0.5rem;
}

section div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

section div:nth-child(2) {
    margin-top: 0.4em;
}

figure {
    transition-property: color, background;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.69, 0, 0, 1);
    margin: 0.15rem;
    border: 1px solid #41403d;
    border-radius: 0.5rem;
    cursor: copy;
    padding: 0.15rem;
    text-align: center;
    color: var(--safe-color, #f5f5f5);
}

figure:hover {
    background: var(--background-color, #f5f5f530);
    color: var(--color, #f5f5f5);
}

figure[zero-width] {
    text-align: left;
    flex-basis: 1.25rem;
}

figure[background-glyph]:hover {
    background: #f5f5f510;
}

figure[background-glyph]:hover::before {
    color: var(--background-color);
    content: attr(background-glyph);
}

figure:hover::after {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    background: linear-gradient(rgba(18, 23, 28, 0) 0%, rgba(18, 23, 28, 0.5) 50%);
    pointer-events: none;
    padding: 0.25rem;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    content: attr(glyph);
}

figure:active {
    background: #f5f5f5 !important;
    color: #212833;
}

@media (width > 900px) {
    :root {
        font-size: 20px;
    }

    main {
        grid-template: repeat(5, min-content) / repeat(8, auto);
    }
}

nav input {
    box-sizing: content-box;
    -webkit-appearance: none;
    appearance: none;
    transition: 0.5s;
    outline: none;
    border: none;
    border-top: 1px solid rgba(245, 245, 245, 0.2);
    border-bottom: 1px solid rgba(245, 245, 245, 0.2);
    -webkit-border-radius: 0;
    border-radius: 0;
    background: transparent;
    padding: 0.75rem 1rem;
    width: 100%;
    height: 2rem;
    text-transform: none;
    line-height: 2rem;
    color: #f5f5f5;
    caret-color: #b78c25;
    font-family: sans-serif, "Destiny Symbols Common", "Destiny Symbols PC", "Destiny Symbols";
    font-size: 1.5rem;
}

nav input:focus {
    border-bottom: 1px solid #ffce1f;
}

nav input::selection {
    background: #b78c25;
}

button {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: .25s;
    border: none;
    background: rgba(29, 34, 45, .4);
    cursor: pointer;
    padding: 12px 24px;
    line-height: 1.5rem;
    color: #f5f5f5;
    font-family: sans-serif, "Destiny Symbols Common", "Destiny Symbols PC", "Destiny Symbols";
    font-size: .925rem;
    font-weight: 500;
}

button::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: .25s;
    border: 1px solid #f5f5f5;
    content: "";
}

button:hover {
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .25);
    background: #1d222d;
}

button:hover::after {
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
}

button.gold-button {
    background: rgba(183, 140, 37, .8);
    color: #f5f5f5;
}

button.gold-button::after {
    border-color: #ffce1f;
}

button.gold-button:hover {
    background: #b78c25;
}

button.gold-button:hover::after {
    border-color: #f5f5f5;
}

button.gold-button:active {
    background-color: rgba(183, 140, 37, .8) !important;
}


::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #12171c;
    background: #181c25;
}

::-webkit-scrollbar-thumb {
    border: 1px solid #181c25;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    background: #232936;
}

::-webkit-scrollbar-thumb:hover {
    background: #272e3d;
}

::-webkit-scrollbar-corner {
    display: none;
}